.mdl-card__supporting-text {
    width: 100%;
}
.mdl-textfield__label:after {
    background-color: #B7D43C;
}

.fc-hero,
.fc-lakes,
.fc-about {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    /*height: 100vh;*/
}
/* ============================================================================
  1.  HERO SECTION
============================================================================ */
.fc-hero-cta {
    flex: 1;
    margin: 0 0 0 50%;
    padding: 6em 10em;
    background-color: #fff;
}
.fc-hero-cta-header {
    font-size: 36px;
}
.fc-hero-cta-description {
    font-size: 14px;
}
.fc-hero-form {
    margin-top: 2em;
}
.fc-hero-form-legend {
    font-size: 17px;
}
.mdl-textfield__submit {
    margin-top: 1em;
}

.fc-hero-slider {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 50%;
    height: 100vh;
    padding: 2em 10em;
}
.fc-hero-logo {
    width: 100px;
    -webkit-filter: opacity(.15) invert(1);
    filter: opacity(.15) invert(1);
}
.fc-hero-slider-wrapper {
    width: 250px;
    height: 500px;
    background: url(../img/iphone6.png);
    background-size: 250px 500px;
}
.fc-hero-slider-inner {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 194px;
    height: 362px;
    margin: 64px auto;
    overflow: hidden;
}
.fc-hero-slide {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.fc-hero-slide img {
    width: 194px;
    height: 362px;
}
#carousel ul {
        position: absolute;
        width: 776px;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    #carousel ul li {
        width: 194px;
        height: 362px;
        text-align: center;
        list-style: none;
        float:  left;
    }
    /**
     * HERO VIDEO
     * ----------------------------------------------- */
    .hero-vid { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }
    @media all and (min-width: 768px) { 
        .hero-vid { 
            transform: translateX(-100%) translateY(-50%);
        }
    }
    .hero-vid-overlay {
        z-index: -99;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: rgba(33,33,33,.15);*/
        background: rgba(33,33,33,.15); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(rgba(3,3,3,.5), rgba(33,33,33,.15)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(33,33,33,.5), rgba(33,33,33,.15)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(33,33,33,.9), rgba(33,33,33,.15)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(3,3,3,.5), rgba(33,33,33,.15)); /* Standard syntax */
    }

/* ============================================================================
  2.  FEATURED LAKES SECTION
============================================================================ */
.fc-lakes .mdl-list {
    display: flex;
    flex-flow: row wrap;
}

.fc-lakes .mdl-list__item {
    flex: 0 0 50%;
}

form .mdl-textfield {
    width: calc(100% - 2em);
}
.fc-form-messages {
    margin: 16px 0;
}
.success-message,
.error-message {
    padding: 16px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    color: #fff;
}
.success-message {
    background-color: #33D947;
}
.error-message {
    background-color: #D41D23;
}
.error-message ul {
    list-style: disc;
    margin-left: calc(35px  - 10px);
}

.message-header {
    margin: 0;
}

.error  .mdl-textfield__input {
    color: #D41D23;
    border-bottom: 1px solid #D41D23;
}



